@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8 Killucan Road<br />
    Cookstown, County Tyrone, BT80 9PP<br />
    <abbr title="Phone">P:</abbr>
    123 - 4567 - 890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@DogFinder.com">Support@DogFinder.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@DogFinder.com">Marketing@DogFinder.com</a>
</address>